.contentdemoBasicUsage div.demo-content {
    height: 450px;
}

.contentdemoBasicUsage div[ng-controller] {
    height: 100%;
    padding-bottom: 15px;
}

.contentdemoBasicUsage md-content {
    padding: 24px;
}

.dialogdemoThemeInheritance .container {
    text-align: center;
}

.mdl-grid.center-items {
    justify-content: center;
}
html,
body {
    height: 100%;
}

.container {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}